{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register Page</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/register/register.css' %}">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{% static 'images/hospital-management.jpg' %}" alt="register" class="register-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <h1>BloodLine</h1>
              </div>
              <p class="register-card-description">Make your account</p>
              <form action="" method="POST" id="registerform">
                {% csrf_token %}
                  <div class="form-group">
                    <input class="r-btn" type="radio" name="acc_type" id="person-acc">
                    <label for="person-acc">Person</label>
                  </div>
                  <div class="form-group">
                    <input class="r-btn" type="radio" name="acc_type" id="org-acc">
                    <label for="org-acc">Staff</label>
                  </div>
                  <button id="next" type="submit" form="registerform" value="Submit" class="btn btn-block register-btn mb-4">Next</button>
                </form>
                <a href="/login/" class="forgot-password-link">Already have an account?</a><br><br>
                <a href="/register-patient/" id="1" style="display: none;"></a>
                <a href="/register-staff/" id="2" style="display: none;"></a>
                <br>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
